[submodule "chisel3"]
	path = dependencies/chisel
	url = git@github.com:chipsalliance/chisel3.git
	branch = main
[submodule "cde"]
	path = dependencies/cde
	url = git@github.com:chipsalliance/cde.git
[submodule "berkeley-hardfloat"]
	path = dependencies/berkeley-hardfloat
	url = git@github.com:ucb-bar/berkeley-hardfloat.git
[submodule "rocket-chip"]
	path = dependencies/rocket-chip
	url = git@github.com:chipsalliance/rocket-chip.git
	branch = dev
[submodule "rocket-chip-blocks"]
	path = dependencies/rocket-chip-blocks
	url = git@github.com:chipsalliance/rocket-chip-blocks.git
[submodule "rocket-chip-inclusive-cache"]
	path = dependencies/rocket-chip-inclusive-cache
	url = git@github.com:chipsalliance/rocket-chip-inclusive-cache.git
[submodule "rocket-chip-fpga-shells"]
	path = dependencies/rocket-chip-fpga-shells
	url = git@github.com:chipsalliance/rocket-chip-fpga-shells.git
[submodule "dependencies/rocket-chip"]
	branch = dev
