[submodule "chisel3"]
	path = dependencies/chisel3
	url = git@github.com:chipsalliance/chisel3.git
[submodule "firrtl"]
	path = dependencies/firrtl
	url = git@github.com:chipsalliance/firrtl.git
[submodule "treadle"]
	path = dependencies/treadle
	url = git@github.com:chipsalliance/treadle.git
[submodule "chisel-testers2"]
	path = dependencies/chisel-testers2
	url = git@github.com:ucb-bar/chisel-testers2.git
[submodule "cde"]
	path = dependencies/cde
	url = git@github.com:chipsalliance/cde.git
[submodule "berkeley-hardfloat"]
	path = dependencies/berkeley-hardfloat
	url = git@github.com:ucb-bar/berkeley-hardfloat.git
[submodule "rocket-chip"]
	path = dependencies/rocket-chip
	url = git@github.com:chipsalliance/rocket-chip.git
[submodule "rocket-chip-blocks"]
	path = dependencies/rocket-chip-blocks
	url = git@github.com:chipsalliance/rocket-chip-blocks.git
[submodule "rocket-chip-inclusive-cache"]
	path = dependencies/rocket-chip-inclusive-cache
	url = git@github.com:chipsalliance/rocket-chip-inclusive-cache.git
[submodule "rocket-chip-fpga-shells"]
	path = dependencies/rocket-chip-fpga-shells
	url = git@github.com:chipsalliance/rocket-chip-fpga-shells.git
[submodule "firesim"]
	path = dependencies/firesim
	url = git@github.com:firesim/firesim.git
[submodule "plsi-mdf"]
	path = dependencies/plsi-mdf
	url = git@github.com:ucb-bar/plsi-mdf.git
[submodule "testchipip"]
	path = dependencies/testchipip
	url = git@github.com:ucb-bar/testchipip.git
[submodule "icenet"]
	path = dependencies/icenet
	url = git@github.com:firesim/icenet.git
[submodule "riscv-boom"]
	path = dependencies/riscv-boom
	url = git@github.com:riscv-boom/riscv-boom.git
[submodule "chipyard"]
	path = dependencies/chipyard
	url = git@github.com:ucb-bar/chipyard.git
[submodule "barstools"]
	path = dependencies/barstools
	url = git@github.com:ucb-bar/barstools.git
[submodule "dsptools"]
	path = dependencies/dsptools
	url = git@github.com:ucb-bar/dsptools.git
[submodule "gemmini"]
	path = dependencies/gemmini
	url = git@github.com:ucb-bar/gemmini.git
[submodule "nvdla-wrapper"]
	path = dependencies/nvdla-wrapper
	url = git@github.com:ucb-bar/nvdla-wrapper.git
[submodule "hwacha"]
	path = dependencies/hwacha
	url = git@github.com:ucb-bar/hwacha.git
[submodule "cva6-wrapper"]
	path = dependencies/cva6-wrapper
	url = git@github.com:ucb-bar/cva6-wrapper.git
[submodule "riscv-sodor"]
	path = dependencies/riscv-sodor
	url = git@github.com:ucb-bar/riscv-sodor.git
[submodule "sha3"]
	path = dependencies/sha3
	url = git@github.com:ucb-bar/sha3.git
[submodule "dependencies/riscv-isa-sim"]
	path = dependencies/riscv-isa-sim
	url = git@github.com:riscv/riscv-isa-sim.git
[submodule "dependencies/rocket-dsp-utils"]
	path = dependencies/rocket-dsp-utils
	url = git@github.com:ucb-bar/rocket-dsp-utils.git
[submodule "dependencies/ibex-wrapper"]
	path = dependencies/ibex-wrapper
	url = git@github.com:ucb-bar/ibex-wrapper.git
[submodule "dependencies/FFTGenerator"]
	path = dependencies/FFTGenerator
	url = git@github.com:ucb-bar/FFTGenerator.git
[submodule "dependencies/llvm-project"]
	path = dependencies/llvm-project
	url = git@github.com:llvm/llvm-project.git
[submodule "dependencies/musl"]
	path = dependencies/musl
	url = git@github.com:bminor/musl.git
[submodule "dependencies/riscv-pk"]
	path = dependencies/riscv-pk
	url = git@github.com:riscv-software-src/riscv-pk.git
[submodule "dependencies/riscv-tests"]
	path = dependencies/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
